@model SoapStoreComIT.Views.ViewModels.SubCategoryList

<br /><br />
      <div class="border backgroundWhite">
          <div class="row">
              <div class="col-6">
                  <h2 class="text-info">SubCategory List</h2>
              </div>
              <div class="cool-6 text-right">
                  <a asp-controller="SubCategory" asp-action="CreateNewSubCategory" class="btn btn-info from-control text-white">Create New SubCategory</a>
              </div>
          </div>
          <br />


          <div class="col-12 border p-3 mt-3">
              <form method="post">
                  @if (@Model.SubCategories.Count() > 0)
                  {
                      <table class="table-striped border">
                          <tr class="table-secondary">
                              <td>
                                  <label asp-for="SubCategories.FirstOrDefault().Name"></label>
                              </td>       
                          </tr>
                          @foreach (var item in Model.SubCategories)
                          {
                              <tr>
                                  <td>
                                      @Html.DisplayFor(m => item.Name)
                                  </td>
                                  <td>
                                      <a asp-action="EditSubCategory" asp-route-id="@item.Id" class=" btn btn-primary btn-sm text-white">Edit</a>
                                      <a asp-action="DeleteSubCategory" asp-route-Id="@item.Id" class="btn btn-danger btn-sm text-white">Delete</a>
                                  </td>
                              </tr>
                          }
                      </table>
                  }
                  else
                  {
                    <p>There are no SubCategories available.</p>
                  }
              </form>
          </div>
      </div>







